<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <p>
    <a href="https://twitter.com/ansonwhho/" target="_blank">
        <img src="{{ '/images/icon_twitter.png' | relative_url }}" alt="Anson Ho on Twitter" />
    </a>
    <a href="https://www.linkedin.com/in/anson-wh-ho/" target="_blank">
        <img src="{{ '/images/icon_linkedin.png' | relative_url }}" alt="Anson Ho on LinkedIn" />
    </a>
    <a href="https://scholar.google.com/citations?hl=en&user=MlaT7lsAAAAJ" target="_blank">
        <img src="{{ '/images/icon_google-scholar.png' | relative_url }}" alt="Anson Ho on Google Scholar"/>
    </a>
</p>

</footer>
