---
---

@import "{{ site.theme }}";

.site-header { background-color: #00154f; }
.site-title { color: #fff; }
.site-title, .site-title:visited { color: #fff; }
.site-nav .page-link { color: #fff; }
.site-footer { background-color: #d9f1ff; }

